.arch-grid {
  background-image:
    linear-gradient(to right, rgba(0,0,0,0.03) 1px, transparent 10px),
    linear-gradient(to bottom, rgba(0,0,0,0.02) 1px, transparent 10px);
  background-size: 120px 120px;
}
